## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

The target variable is the "IS_SUCCESSFUL" column as we are trying to predict whether applicants will be successful if funded by Alphabet Soup. The rest of the columns will be features of the model.

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
app_df = application_df.drop(columns = ["EIN", "NAME"])
app_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
app_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type = app_df["APPLICATION_TYPE"].value_counts()
app_type

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type[app_type<100].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    app_df['APPLICATION_TYPE'] = app_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
app_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_type = app_df["CLASSIFICATION"].value_counts()
class_type

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1900        1
C6100        1
C4200        1
C1580        1
C3700        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_value = class_type[class_type>1]
class_value

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C4100        6
C1720        6
C2400        6
C1600        5
C1257        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1256        2
C1267        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_type[class_type<115].index)

# Replace in dataframe
for cls in classifications_to_replace:
    app_df['CLASSIFICATION'] = app_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
app_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other      887
C7000      777
C1700      287
C4000      194
C5000      116
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
new_app_df = pd.get_dummies(app_df)
new_app_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
X = new_app_df.drop(columns=["IS_SUCCESSFUL"],axis=1)
y = new_app_df["IS_SUCCESSFUL"]


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=70, activation="relu", input_dim=len(X_train_scaled[0])))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=50, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 70)                3430

 dense_1 (Dense)             (None, 50)                3550

 dense_2 (Dense)             (None, 30)                1530

 dense_3 (Dense)             (None, 1)                 31

=================================================================
Total params: 8,541
Trainable params: 8,541
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 633us/step - loss: 0.5660 - accuracy: 0.7241
Epoch 2/100
804/804 [==============================] - 1s 656us/step - loss: 0.5512 - accuracy: 0.7318
Epoch 3/100
804/804 [==============================] - 1s 643us/step - loss: 0.5485 - accuracy: 0.7314
Epoch 4/100
804/804 [==============================] - 1s 624us/step - loss: 0.5465 - accuracy: 0.7332
Epoch 5/100
804/804 [==============================] - 1s 848us/step - loss: 0.5456 - accuracy: 0.7342
Epoch 6/100
804/804 [==============================] - 1s 815us/step - loss: 0.5447 - accuracy: 0.7345
Epoch 7/100
804/804 [==============================] - 1s 655us/step - loss: 0.5432 - accuracy: 0.7352
Epoch 8/100
804/804 [==============================] - 1s 721us/step - loss: 0.5431 - accuracy: 0.7362
Epoch 9/100
804/804 [==============================] - 1s 830us/step - loss: 0.5424 - accuracy: 0.7375
Epoch 10/100
804/804 [==============================] - 1s 655us/step - loss: 0.5417 - accuracy: 0.7370
Epoch 11/100
804/804 [==============================] - 1s 655us/step - loss: 0.5410 - accuracy: 0.7380
Epoch 12/100
804/804 [==============================] - 1s 636us/step - loss: 0.5409 - accuracy: 0.7378
Epoch 13/100
804/804 [==============================] - 1s 646us/step - loss: 0.5401 - accuracy: 0.7368
Epoch 14/100
804/804 [==============================] - 1s 672us/step - loss: 0.5395 - accuracy: 0.7369
Epoch 15/100
804/804 [==============================] - 1s 680us/step - loss: 0.5393 - accuracy: 0.7375
Epoch 16/100
804/804 [==============================] - 1s 708us/step - loss: 0.5387 - accuracy: 0.7377
Epoch 17/100
804/804 [==============================] - 1s 670us/step - loss: 0.5386 - accuracy: 0.7390
Epoch 18/100
804/804 [==============================] - 1s 727us/step - loss: 0.5382 - accuracy: 0.7379
Epoch 19/100
804/804 [==============================] - 1s 733us/step - loss: 0.5377 - accuracy: 0.7378
Epoch 20/100
804/804 [==============================] - 1s 712us/step - loss: 0.5376 - accuracy: 0.7389
Epoch 21/100
804/804 [==============================] - 1s 741us/step - loss: 0.5376 - accuracy: 0.7393
Epoch 22/100
804/804 [==============================] - 1s 822us/step - loss: 0.5369 - accuracy: 0.7397
Epoch 23/100
804/804 [==============================] - 1s 765us/step - loss: 0.5370 - accuracy: 0.7393
Epoch 24/100
804/804 [==============================] - 1s 786us/step - loss: 0.5365 - accuracy: 0.7391
Epoch 25/100
804/804 [==============================] - 1s 791us/step - loss: 0.5365 - accuracy: 0.7397
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7388
Epoch 27/100
804/804 [==============================] - 1s 722us/step - loss: 0.5356 - accuracy: 0.7404
Epoch 28/100
804/804 [==============================] - 1s 823us/step - loss: 0.5358 - accuracy: 0.7395
Epoch 29/100
804/804 [==============================] - 1s 809us/step - loss: 0.5351 - accuracy: 0.7396
Epoch 30/100
804/804 [==============================] - 1s 752us/step - loss: 0.5351 - accuracy: 0.7400
Epoch 31/100
804/804 [==============================] - 1s 715us/step - loss: 0.5348 - accuracy: 0.7399
Epoch 32/100
804/804 [==============================] - 1s 718us/step - loss: 0.5358 - accuracy: 0.7397
Epoch 33/100
804/804 [==============================] - 1s 803us/step - loss: 0.5353 - accuracy: 0.7399
Epoch 34/100
804/804 [==============================] - 1s 726us/step - loss: 0.5341 - accuracy: 0.7414
Epoch 35/100
804/804 [==============================] - 1s 841us/step - loss: 0.5345 - accuracy: 0.7399
Epoch 36/100
804/804 [==============================] - 1s 974us/step - loss: 0.5342 - accuracy: 0.7404
Epoch 37/100
804/804 [==============================] - 1s 887us/step - loss: 0.5342 - accuracy: 0.7392
Epoch 38/100
804/804 [==============================] - 1s 946us/step - loss: 0.5339 - accuracy: 0.7416
Epoch 39/100
804/804 [==============================] - 1s 960us/step - loss: 0.5339 - accuracy: 0.7406
Epoch 40/100
804/804 [==============================] - 1s 879us/step - loss: 0.5336 - accuracy: 0.7409
Epoch 41/100
804/804 [==============================] - 1s 831us/step - loss: 0.5340 - accuracy: 0.7410
Epoch 42/100
804/804 [==============================] - 1s 898us/step - loss: 0.5334 - accuracy: 0.7418
Epoch 43/100
804/804 [==============================] - 1s 907us/step - loss: 0.5337 - accuracy: 0.7424
Epoch 44/100
804/804 [==============================] - 1s 886us/step - loss: 0.5337 - accuracy: 0.7406
Epoch 45/100
804/804 [==============================] - 1s 805us/step - loss: 0.5331 - accuracy: 0.7409
Epoch 46/100
804/804 [==============================] - 1s 903us/step - loss: 0.5324 - accuracy: 0.7413
Epoch 47/100
804/804 [==============================] - 1s 829us/step - loss: 0.5324 - accuracy: 0.7407
Epoch 48/100
804/804 [==============================] - 1s 722us/step - loss: 0.5329 - accuracy: 0.7415
Epoch 49/100
804/804 [==============================] - 1s 743us/step - loss: 0.5324 - accuracy: 0.7425
Epoch 50/100
804/804 [==============================] - 1s 700us/step - loss: 0.5324 - accuracy: 0.7401
Epoch 51/100
804/804 [==============================] - 1s 754us/step - loss: 0.5329 - accuracy: 0.7413
Epoch 52/100
804/804 [==============================] - 1s 715us/step - loss: 0.5323 - accuracy: 0.7422
Epoch 53/100
804/804 [==============================] - 1s 739us/step - loss: 0.5317 - accuracy: 0.7407
Epoch 54/100
804/804 [==============================] - 1s 719us/step - loss: 0.5322 - accuracy: 0.7425
Epoch 55/100
804/804 [==============================] - 1s 739us/step - loss: 0.5316 - accuracy: 0.7417
Epoch 56/100
804/804 [==============================] - 1s 716us/step - loss: 0.5321 - accuracy: 0.7417
Epoch 57/100
804/804 [==============================] - 1s 752us/step - loss: 0.5316 - accuracy: 0.7415
Epoch 58/100
804/804 [==============================] - 1s 740us/step - loss: 0.5313 - accuracy: 0.7420
Epoch 59/100
804/804 [==============================] - 1s 719us/step - loss: 0.5315 - accuracy: 0.7429
Epoch 60/100
804/804 [==============================] - 1s 729us/step - loss: 0.5318 - accuracy: 0.7409
Epoch 61/100
804/804 [==============================] - 1s 700us/step - loss: 0.5313 - accuracy: 0.7416
Epoch 62/100
804/804 [==============================] - 1s 698us/step - loss: 0.5311 - accuracy: 0.7420
Epoch 63/100
804/804 [==============================] - 1s 734us/step - loss: 0.5308 - accuracy: 0.7423
Epoch 64/100
804/804 [==============================] - 1s 726us/step - loss: 0.5309 - accuracy: 0.7411
Epoch 65/100
804/804 [==============================] - 1s 698us/step - loss: 0.5316 - accuracy: 0.7421
Epoch 66/100
804/804 [==============================] - 1s 728us/step - loss: 0.5306 - accuracy: 0.7416
Epoch 67/100
804/804 [==============================] - 1s 675us/step - loss: 0.5313 - accuracy: 0.7413
Epoch 68/100
804/804 [==============================] - 1s 708us/step - loss: 0.5311 - accuracy: 0.7417
Epoch 69/100
804/804 [==============================] - 1s 664us/step - loss: 0.5306 - accuracy: 0.7421
Epoch 70/100
804/804 [==============================] - 1s 704us/step - loss: 0.5306 - accuracy: 0.7423
Epoch 71/100
804/804 [==============================] - 1s 704us/step - loss: 0.5308 - accuracy: 0.7421
Epoch 72/100
804/804 [==============================] - 1s 856us/step - loss: 0.5305 - accuracy: 0.7423
Epoch 73/100
804/804 [==============================] - 1s 700us/step - loss: 0.5305 - accuracy: 0.7430
Epoch 74/100
804/804 [==============================] - 1s 738us/step - loss: 0.5303 - accuracy: 0.7423
Epoch 75/100
804/804 [==============================] - 1s 709us/step - loss: 0.5302 - accuracy: 0.7422
Epoch 76/100
804/804 [==============================] - 1s 699us/step - loss: 0.5299 - accuracy: 0.7423
Epoch 77/100
804/804 [==============================] - 1s 693us/step - loss: 0.5302 - accuracy: 0.7413
Epoch 78/100
804/804 [==============================] - 1s 710us/step - loss: 0.5300 - accuracy: 0.7420
Epoch 79/100

804/804 [==============================] - 1s 722us/step - loss: 0.5303 - accuracy: 0.7423
Epoch 80/100
804/804 [==============================] - 1s 704us/step - loss: 0.5303 - accuracy: 0.7421
Epoch 81/100
804/804 [==============================] - 1s 690us/step - loss: 0.5299 - accuracy: 0.7420
Epoch 82/100
804/804 [==============================] - 1s 708us/step - loss: 0.5302 - accuracy: 0.7420
Epoch 83/100
804/804 [==============================] - 1s 703us/step - loss: 0.5300 - accuracy: 0.7423
Epoch 84/100
804/804 [==============================] - 1s 757us/step - loss: 0.5295 - accuracy: 0.7424
Epoch 85/100
804/804 [==============================] - 1s 696us/step - loss: 0.5301 - accuracy: 0.7422
Epoch 86/100
804/804 [==============================] - 1s 698us/step - loss: 0.5295 - accuracy: 0.7430
Epoch 87/100
804/804 [==============================] - 1s 722us/step - loss: 0.5294 - accuracy: 0.7418
Epoch 88/100
804/804 [==============================] - 1s 714us/step - loss: 0.5294 - accuracy: 0.7432
Epoch 89/100
804/804 [==============================] - 1s 741us/step - loss: 0.5294 - accuracy: 0.7423
Epoch 90/100
804/804 [==============================] - 1s 710us/step - loss: 0.5297 - accuracy: 0.7433
Epoch 91/100
804/804 [==============================] - 1s 710us/step - loss: 0.5299 - accuracy: 0.7425
Epoch 92/100
804/804 [==============================] - 1s 711us/step - loss: 0.5292 - accuracy: 0.7436
Epoch 93/100
804/804 [==============================] - 1s 707us/step - loss: 0.5291 - accuracy: 0.7429
Epoch 94/100
804/804 [==============================] - 1s 703us/step - loss: 0.5293 - accuracy: 0.7425
Epoch 95/100
804/804 [==============================] - 1s 734us/step - loss: 0.5296 - accuracy: 0.7428
Epoch 96/100
804/804 [==============================] - 1s 687us/step - loss: 0.5294 - accuracy: 0.7423
Epoch 97/100
804/804 [==============================] - 1s 685us/step - loss: 0.5295 - accuracy: 0.7433
Epoch 98/100
804/804 [==============================] - 1s 745us/step - loss: 0.5288 - accuracy: 0.7425
Epoch 99/100
804/804 [==============================] - 1s 705us/step - loss: 0.5290 - accuracy: 0.7429
Epoch 100/100
804/804 [==============================] - 1s 707us/step - loss: 0.5290 - accuracy: 0.7430

In [14]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6008 - accuracy: 0.7248 - 199ms/epoch - 744us/step
Loss: 0.6007870435714722, Accuracy: 0.724781334400177

In [16]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")